@model Appweb.Domain.Core.LoginViewModel



<div class="row">
    <div class="col-md-6">
        <h2>LogIn</h2>
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email"></label><br />
                <input class="form-control" style="width:auto" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input class="form-control" style="width:auto" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label><br />
                <input class="form-control" style="width:auto" asp-for="RememberMe" />
            </div>
            <div>
                <input type="submit" style="margin-top:10px" class="btn btn-outline-dark" value="Submit" />
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h1>External Login</h1>
        <hr />
        @{
            try
            {
                if (Model.ExternalLogins != null)
                {
                    if (Model.ExternalLogins.Count == 0)
                    {
                    <div>No external logins configured</div>
                    }
                    else
                    {
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-dark"
                                        name="provider" value="@provider.Name"
                                        title="Login usin your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                        }
                    }
                }
                catch { }

            }

    </div>
</div>