@model Appweb.Domain.Core.CollectionViewModel
@using Appweb.Domain.Core;
@inject UserManager<User> userInManager
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager
@{
    ViewBag.Title = "Items";
}
<form method="post">
    <div class="row form-group">
        <div class="col-md-7">
            <input asp-for="@Model.Text" asp-route-id="@Model.CollectionID" class="form-control" id="TextSearchInput" placeholder="Enter text for full text search" />
        </div>
        <div class="col-md-5">
            <button class="btn btn-outline-dark" id="ApplyTextSearchButton">Search</button>
        </div>
    </div>
</form>
<div>

    <section class="btn"> <img src="@Url.Content(Model.ImageUrl)" width="200" height="222"></section>
    <section class="btn"> <h6 class="text-left">Descrition: </h6>  <text>@Model.Description</text> </section>


</div>
<div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            @{ int i = 1;}
            @if (Model.Items != null)
                @foreach (var item in Model.Type)
                {
                    if (item != "null")
                    {
                        <th>Field @i</th>

                    }
                    i++;
                }

        </tr>
        @if (Model.Items != null)
        {


            @foreach (var item in Model.Items)
            {
                if (item != null)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        @if (item.Field1 != "null" && item.Field1 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field1)
                            </td>
                        }
                        @if (item.Field2 != "null" && item.Field2 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field2)
                            </td>
                        }
                        @if (item.Field3 != "null" && item.Field3 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field3)
                            </td>
                        }
                        @if (item.Field4 != "null" && item.Field4 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field4)
                            </td>
                        }
                        @if (item.Field5 != "null" && item.Field5 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field5)
                            </td>
                        }
                        @if (item.Field6 != "null" && item.Field6 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field6)
                            </td>
                        }
                        @if (item.Field7 != "null" && item.Field7 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field7)
                            </td>
                        }
                        @if (item.Field8 != "null" && item.Field8 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field8)
                            </td>
                        }
                        @if (item.Field9 != "null" && item.Field9 != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Field9)
                            </td>
                        }
                        @if (signInManager.IsSignedIn(User))
                        {
                            <td>
                                <form asp-action="DeleteItem" asp-route-id="@item.ItemID" method="post">
                                    @if ((signInManager.IsSignedIn(User) && User.IsInRole("Admin")) || userInManager.GetUserId(User) == Model.UserID)
                                    {


                                        <a class="btn btn-sm btn-outline-dark" asp-action="EditItem" asp-route-id="@item.ItemID">Change</a>
                                        <button type="submit" class="btn btn-sm btn-outline-danger">
                                            Delete
                                        </button>




                                    }
                                    <a class="btn btn-sm btn-outline-primary" asp-action="EditComment" asp-route-id="@item.ItemID">Comments</a>
                                    @if (item.Likes != null)
                                    {
                                        @*
                                            <a class="btn" asp-action="GetLike" asp-route-id="@item.ItemID">
                                                 <img src="~/Files/Heart.png" width="100" height="70" alt="@item.Likes.Count"><img />
                                            </a>
                                        *@
                                        <a class="btn btn-sm btn-primary" asp-action="GetLike" asp-route-id="@item.ItemID">@item.Likes.Count</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm btn-primary" asp-action="GetLike" asp-route-id="@item.ItemID">0</a>
                                    }
                                </form>
                            </td>
                        }
                    </tr>
                }
            }
            /**/

        }
    </table>
</div>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@if ((signInManager.IsSignedIn(User) && User.IsInRole("Admin")) || signInManager.IsSignedIn(User) && userInManager.GetUserId(User) == Model.UserID)
{
    <div class="form-group">
        <a class="btn btn-outline-info" asp-action="CreateItem" asp-route-id="@Model.CollectionID">Add</a>
        <a class="btn btn-outline-danger" asp-action="DeleteCollection" asp-route-id="@Model.CollectionID">Delete</a>
    </div>
}
