@model Appweb.Domain.Core.UserColViewModel
@using Appweb.Domain.Core;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userInManager
@inject SignInManager<User> signInManager
@{
    ViewBag.Title = "Adding collection";
}
<form method="post" enctype="multipart/form-data">
    <section class="card">
        <div class="card-header">
            <form asp-action="CreateNewCol" asp-controller="Users">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Name" class="control-label">Name</label>
                    <input type="text" asp-for="@Model.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Description" class="control-label">Description</label>
                    <input type="text" asp-for="@Model.Description" class="form-control" />
                </div>
            </form>
            <h3>Сhoose the file</h3>

            <input type="file" class="custom-file" value="Choose" name="uploadedFile" />
            <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="@Model.UserName" value="@Model.UserName" />

            @*<h3>All Filles</h3>
        @foreach (var f in Model)
        {
            <p><img src="@Url.Content(f.Path)"></p>
        }*@
        </div>

       @* <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {

                    if (Model[i].UserId == userInManager.GetUserId(User))
                    {
                        Model[i].IsSelected = true;
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].UserId" />
                            <input asp-for="@Model[i].IsSelected" class="custom-radio" />
                            <label class="custom-radio">
                                @Model[i].UserName
                            </label>
                        </div>
                    }
                
            }

        </div>*@

        <div class="card-footer">
            <p>Theme</p>
            <select class="custom-select" name="Theme">
                <option value="Car">Car</option>
                <option value="Plant">Plant</option>
                <option value="Book">Book</option>
                <option value="Phone">Phone</option>
            </select>
        </div>

        @for (int i = 1; i < 3; i++)
        {
            <div class="btn">
                <p>Field @i</p>
                @{string s = $"field{i}";}
                <select class="custom-select-sm2" name="@s">
                    <option value="null">null</option>
                    <option value="string">string</option>
                    <option value="bool">bool</option>
                    <option value="int">int</option>
                </select>
            </div>
        }

        <div>
            <input type="submit" asp-controller="Users" asp-action="CreateNewCol" value="CreateNewCol" class="btn btn-outline-primary" style="width:auto;margin-left:10px;margin-bottom:10px" />
            <a asp-action="Index1" class="btn btn-outline-danger" style="width:auto;margin-bottom:10px">Cancel</a>
        </div>
        </div>
</form>
