@model Appweb.ViewModels.EditItemViewModel
@{
    ViewBag.Title = "Edit Item";
}
    <form asp-action="EditItem" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="ItemID" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="CollectionID" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Name" class="control-label">Name</label>
            <input type="text" asp-for="@Model.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description" class="control-label">Description</label>
            <input type="text" asp-for="@Model.Description" class="form-control" />
        </div>
        @{int i = 0, v = 1; string s = ""; }
        @foreach (var a in Model.Type)
        {
            s = $"field{v}";
            @if (a == "string")
            {
                <div class="form-group">
                    <label asp-for="@Model.Field[i]" class="control-label">Field @v</label>
                    <input type="text" name="@s" asp-for="@Model.Field[i]" class="form-control" />
                </div>
            }
            @if (a == "bool")
            {


                <div>
                    <p>Field @v</p>
                    <select class="custom-select-sm2" name="@s">
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            }
            @if (a == "int")
            {
                <div class="form-group">
                    <label asp-for="@Model.Field[i]" class="control-label">Field @v</label>
                    <input type="number" name="@s" class="form-control" />
                </div>
            }
            if (a == "null")
            {
                <input type="hidden" value="null" name="@s"  class="form-control" />
            }
            i++;
            v++;
        }

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-outline-secondary" />
        </div>
    </form>