@model Appweb.ViewModels.CommentViewModel

@using Microsoft.AspNetCore.Identity;

@using Appweb.Models;

@inject SignInManager<User> signInManager

@{
    int i = 0;
    User user = await signInManager.UserManager.FindByIdAsync(Model.UserID);

}

    <div class="card">
        <form method="post">
            <div class="card-header" id="userid" value="@Model.UserID">


                <label id="name-user" value="@user.UserName">@user.UserName</label>
            </div>
            <div class="card-body" id="itemid" value="@Model.ItemID">
                <label asp-for="@Model.Text" class="control-label">Text</label>
                <input type="text" asp-route-id="@Model.ItemID" id="Text" value="" asp-for="@Model.Text" class="form-control" />
            </div>

        </form>
        <div class="card-footer">
            <div>
                <input type="submit" id="sendButton" value="Create" class="btn btn-outline-primary" style="width:auto" />
                <a asp-action="Index1" class="btn btn-outline-danger" style="width:auto">Cancel</a>
            </div>
        </div>
    </div>
<div id="chat">


    @foreach (var a in Model.Comments)
    {
        <div class="card">
            <div class="card-header">

                @{
                    User user2 = await signInManager.UserManager.FindByIdAsync(a.UserID);
                }
                @user2.UserName
            </div>
            <div class="card-body">


                @a.Text
            </div>
        </div>
        i++;
    }
    <ul style="min-height:300px;height:auto;background-color:white; border-radius:5px;" id="messagesList">
    </ul>

</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<div><p id="response"></p></div>





