@model Appweb.Domain.Core.CommentViewModel
@using Microsoft.AspNetCore.Identity;
@using Appweb.Domain.Core;
@inject SignInManager<User> signInManager

@{
    int i = 0;
    User user = await signInManager.UserManager.FindByIdAsync(Model.UserID);

}

<div class="card">
    <form method="post">
        <div class="card-header" id="userid" value="@Model.UserID">


            <label id="name-user" value="@user.UserName">@user.UserName</label>
        </div>
        <div class="card-body" id="itemid" value="@Model.ItemID">
            <label asp-for="@Model.Text" class="control-label">Text</label>
            <input type="text" asp-route-id="@Model.ItemID" id="Text" value="" asp-for="@Model.Text" class="form-control" />
        </div>

        <input type="hidden" asp-for="@Model.ItemID" value="@Model.ItemID" />
        <input type="hidden" asp-for="@Model.UserID" value="@Model.UserID" />
        <div class="card-footer">
            <div>
                <input type="submit" asp-controller="Users" asp-action="EditComment" id="sendButton" value="Create" class="btn btn-outline-primary" style="width:auto" />
                <a asp-controller="Users" asp-action="Collections" asp-route-id="@Model.CollectionID" class="btn btn-outline-danger" style="width:auto">Cancel</a>
            </div>
        </div>
    </form>
</div>
<div id="chat">



    <ul style="min-height:300px;height:auto;background-color:white; border-radius:5px;" id="messagesList">

        @foreach (var a in Model.Comments)
        {
        <li>
            <div class="card">
                <div class="card-header">

                    @{
                        User user2 = await signInManager.UserManager.FindByIdAsync(a.UserID);
                    }
                    
                    <label id="name-user" value="@user2.UserName">@user2.UserName</label>
                </div>
                <div class="card-body">


                    @a.Text
                </div>
            </div>
        </li>
            i++;
        }
    </ul>

</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comment.js"></script>
<div><p id="response"></p></div>





