


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<table class="table">
    <tr><th>Email</th><th>Name</th><th>DateReg</th></tr>
    @{int i = 0;}
    @foreach (var user in Model)
    {

        <tr>
            

            <td>@user.Email</td>
            <td>@user.Name</td>
            
            <td>@user.DateReg</td>
            
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@user.Id">Change</a>
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Delete

                    </button>
                </form>
            </td>
        </tr>
    }
</table>