@using Microsoft.AspNetCore.Identity;
@using Appweb.Domain.Core;
@using Appweb.Infrastructure.Data;
@model List<Appweb.Domain.Core.Collection>;
@inject SignInManager<User> signInManager;
@inject ApplicationContext context;
@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="bs-tooltip-bottom">
        <a class="btn btn-outline-primary" asp-controller="Users" asp-action="EditUserToCol">AddCollection</a>
    </div>
}
    @if (Model != null)
    {
        <div>

            @foreach (var col in Model)
            {
                if (col.Name != "")
                {
                    <a class="btn" asp-controller="Users" asp-action="Collections" asp-route-id="@col.CollectionID">
                        <p>@col.Name</p>
                        <img src="@Url.Content(context.Collections.Find(col.CollectionID).ImageUrl)" width="130" height="130">

                    </a>
                    @* <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Collections" asp-route-id="@user.CollectionID">@user.Name</a>*@
                }
            }

        </div>
    }