@model Appweb.ViewModels.CollectionViewModel
@inject UserManager<User> userInManager
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager
@{
    ViewBag.Title = "Phones";
}
<form method="post">
    <div class="row form-group">
        <div class="col-md-7">
            <input asp-for="@Model.Text" asp-route-id="@Model.CollectionID" class="form-control" id="TextSearchInput" placeholder="Enter text for full text search" />
        </div>
        <div class="col-md-5">
            <button class="btn btn-success" id="ApplyTextSearchButton">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Color</th>
        <th>Description</th>
    </tr>

    @if (Model.Phones != null) foreach (var item in Model.Phones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                
                @if ((signInManager.IsSignedIn(User) && User.IsInRole("Admin")) || userInManager.GetUserId(User) == Model.UserID)
                {
                    <td>
                        <form asp-action="DeletePhone" asp-route-id="@item.PhoneID" method="post">
                            <a class="btn btn-sm btn-primary" asp-action="EditPhone" asp-route-id="@item.PhoneID">Change</a>
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                            <a class="btn btn-sm btn-primary" asp-action="EditComment" asp-route-id="@item.PhoneID">Comments</a>
                        </form>
                    </td>
                }
            </tr>
        }
</table>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@if ((signInManager.IsSignedIn(User) && User.IsInRole("Admin"))||userInManager.GetUserId(User) == Model.UserID)
{
    <div class="form-group">
        <a class="btn btn-sm btn-primary" asp-action="CreatePhone" asp-route-id="@Model.CollectionID">Add</a>
        <a class="btn btn-sm btn-primary" asp-action="DeleteCollection" asp-route-id="@Model.CollectionID">Delete</a>
    </div>
}
