@using Microsoft.AspNetCore.Identity;
@using Appweb.Domain.Core; 
@inject SignInManager<User> signInManager
@inject UserManager<User> userInManager
@model Appweb.Domain.Core.Items
@{
}
<table class="table">
    @if (Model.item != null) foreach (var item in Model.item)
        {
            <tr>
                @if (item != null)
                {
                    <th>
                        @item.Name
                    </th>
                    <th>
                        @item.Description
                    </th>
                    @if (item.Field1 != "null")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Field1)
                        </td>
                    }
                    @if (item.Field2 != "null")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Field2)
                        </td>
                    }
                   

                    <td>
                        <form asp-action="Collections" asp-route-id="@item.CollectionID" method="post">
                            <a class="btn btn-outline-primary" asp-controller="Users" asp-action="Collections" asp-route-id="@item.CollectionID">Collections</a>
                        </form>
                    </td>
                }
            </tr>

        }

</table>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
